

[Unit]
Description=Encender LEDs de teclado - tarea periodica.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/led_teclado.sh

[Install]
WantedBy=multi-user.target